In [1]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.0.0-cp312-cp312-win_amd64.whl.metadata (2.0 kB)
Downloading mysql_connector_python-9.0.0-cp312-cp312-win_amd64.whl (14.3 MB)
   ---------------------------------------- 0.0/14.3 MB ? eta -:--:--
   ---------------------------------------- 0.0/14.3 MB 660.6 kB/s eta 0:00:22
   ---------------------------------------- 0.1/14.3 MB 919.0 kB/s eta 0:00:16
    --------------------------------------- 0.2/14.3 MB 1.9 MB/s eta 0:00:08
   - -------------------------------------- 0.6/14.3 MB 3.5 MB/s eta 0:00:04
   --- ------------------------------------ 1.4/14.3 MB 6.4 MB/s eta 0:00:03
   ------- -------------------------------- 2.8/14.3 MB 10.5 MB/s eta 0:00:02
   ---------- ----------------------------- 3.9/14.3 MB 12.5 MB/s eta 0:00:01
   --------------- ------------------------ 5.4/14.3 MB 15.0 MB/s eta 0:00:01
   ---------------- ----------------------- 5.8/14.3 MB 14.4 MB/s eta 0:00:01
   ------------------- -------------------- 7.2/14.3 MB 15.8 MB/s eta 0:00:01
   ------------------------ --------------- 8.6/14.3 MB 17.3 MB/s eta 0:00:01
   ------------------------ --------------- 8.9/14.3 MB 16.3 MB/s eta 0:00:01
   ----------------------------- ---------- 10.4/14.3 MB 21.1 MB/s eta 0:00:01
   -------------------------------- ------- 11.8/14.3 MB 24.2 MB/s eta 0:00:01
   ------------------------------------ --- 13.0/14.3 MB 25.1 MB/s eta 0:00:01
   ------------------------------------- -- 13.5/14.3 MB 23.4 MB/s eta 0:00:01
   ---------------------------------------  14.3/14.3 MB 23.4 MB/s eta 0:00:01
   ---------------------------------------  14.3/14.3 MB 23.4 MB/s eta 0:00:01
   ---------------------------------------- 14.3/14.3 MB 19.8 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.0.0

In [2]:
import mysql.connector as connector

In [6]:
connection = connector.connect(user = "root", password = "07Mamonas123")

In [7]:
connection = connector.connect(user = "root", password = "07Mamonas123", db = "littlelemondb")

In [9]:
cursor = connection.cursor()

In [10]:
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)

In [11]:
results = cursor.fetchall()

# Print the results
for result in results:
    print(result)

('bookings',)
('customers',)
('menu',)
('menuitems',)
('order_delivery_status',)
('orders',)
('orders_menu_view',)
('ordersview',)
('ordersview150',)
('staff_info',)

In [15]:
query = """
SELECT orders.TotalCost, customers.FullName, customers.PhoneNumber, customers.Email
FROM orders
INNER JOIN customers ON orders.customers_CustomerID = customers.CustomerID
WHERE Orders.TotalCost > 60;
"""

cursor.execute(query)

# Fetch all results from the executed query
results = cursor.fetchall()

print(f'There are {len(results)} customers with more than $60 of spending...')
print('Printing the top 10 spenders...')

for customer in results[:10]:
    print('=' * 50)
    print(f'Full Name: \t {customer[0]}')
    print(f'Email: \t\t {customer[1]}')
    print(f'Phone Number: \t {customer[2]}')

There are 7 customers with more than $60 of spending...
Printing the top 10 spenders...
==================================================
Full Name: 	 140.00
Email: 		 John Doe
Phone Number: 	 1234567890
==================================================
Full Name: 	 80.00
Email: 		 Jane Smith
Phone Number: 	 1234567891
==================================================
Full Name: 	 120.00
Email: 		 Bob Brown
Phone Number: 	 1234567893
==================================================
Full Name: 	 200.00
Email: 		 David Evans
Phone Number: 	 1234567895
==================================================
Full Name: 	 100.00
Email: 		 Grace Hill
Phone Number: 	 1234567898
==================================================
Full Name: 	 200.00
Email: 		 Jack Martin
Phone Number: 	 1234567801
==================================================
Full Name: 	 160.00
Email: 		 Mia Scott
Phone Number: 	 1234567804